<?xml version="1.0"?>
<model>
  <name>sensor_post</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Tyler Lum</name>
    <email>tylergwlum@gmail.com</email>
  </author>

  <description>
    Sensor post for lidars and cameras to be mounted on.
  </description>
</model>
