  <launch>
    <arg name="map_size_x" value="100"/>
    <arg name="map_size_y" value="100"/>
    <arg name="map_size_z" value=" 5"/>
    
    <arg name="odom_topic" value="odometry" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_world"
    args="0.0 0.0 0 0.0 0.0 0.0 /map /world 40" />
    <node pkg="tf" type="static_transform_publisher" name="world_to_ground_plane"
    args="0.0 0.0 0 0.0 0.0 0.0 /world /ground_plane 40" />

    <include file="$(find ego_planner)/launch/run_in_xtdrone.launch">
        <arg name="drone_id" value="0"/>

        <arg name="target_x" value="5"/>
        <arg name="target_y" value="5"/>
        <arg name="target_z" value="0.7"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <include file="$(find ego_planner)/launch/run_in_xtdrone.launch">
        <arg name="drone_id" value="1"/>

        <arg name="target_x" value="-5"/>
        <arg name="target_y" value="-5"/>
        <arg name="target_z" value="0.7"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  
    <include file="$(find ego_planner)/launch/run_in_xtdrone.launch">
        <arg name="drone_id" value="2"/>

        <arg name="target_x" value="-9"/>
        <arg name="target_y" value="-9"/>
        <arg name="target_z" value="0.7"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <include file="$(find ego_planner)/launch/run_in_xtdrone.launch">
        <arg name="drone_id" value="3"/>

        <arg name="target_x" value="-9"/>
        <arg name="target_y" value="-9"/>
        <arg name="target_z" value="0.7"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </launch>
