<?xml version="1.0"?>
<model>
  <name>robotx_2018_entrance_gate</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kevin Allen</name>
    <email>kallen@osrfoundation.org</email>
  </author>
  <description>
    The RobotX Entrace/Exit gate task
    used for the 2018 RobotX challenge.
    Currently does not simulate the acoustic pinger.
  </description>
</model>
