<?xml version="1.0"?>
<model>
  <name>placard</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <description>
    A white placard with a symbol used in the RobotX competition.
  </description>
</model>
