<?xml version="1.0"?>
<model>
  <name>robotx_2018_qualifying_avoid_obstacles_buoys</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kevin Allen</name>
    <email>kma1660+vrx@gmail.com</email>
  </author>
  <description>
    The randomly generated buoy obstacles for the
    RobotX Avoid Obstacles challenge
    used for the 2018 RobotX qualifying rounds.
  </description>
</model>
