<?xml version="1.0"?>
<model>
  <name>robotx_navigation_challenge</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kevin Allen</name>
    <email>kallen@osrfoundation.org</email>
  </author>
  <description>
    The RobotX Navigation Challenge
  </description>
</model>
