<?xml version="1.0"?>
<model>
  <name>ground_station</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Rumman Waqar</name>
    <email>rumman.waqar05@gmail.com</email>
  </author>

  <description>
    Ground station tent with chairs and tables
  </description>
</model>
