<launch>
    <!-- iris_0 -->
    <group ns="iris_0">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_0_px4_sitl_config.yaml" />
    </group>

    <!-- iris_1 -->
    <group ns="iris_1">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_1_px4_sitl_config.yaml" />
    </group>

    <!-- iris_2 -->
    <group ns="iris_2">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_2_px4_sitl_config.yaml" />
    </group>

    <!-- iris_3 -->
    <group ns="iris_3">
        <!-- VINS-Fusion -->
        <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/xtdrone_sitl/iris_3_px4_sitl_config.yaml" />
    </group>
</launch>
