<?xml version="1.0"?>
<model>
  <name>3DR Iris with realsense camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_realsense_camera.sdf</sdf>

  <author>
   <name>XTDrone</name>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a single forward realsense camera
  </description>
</model>
