<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">
  <world name="robotx_example_course">
    <xacro:include filename="$(find vrx_gazebo)/worlds/sandisland.xacro" />
    <xacro:sandisland />
    <!--Waves-->
    <xacro:include filename="$(find wave_gazebo)/world_models/ocean_waves/model.xacro"/>
    <xacro:ocean_waves/>
    <!--wind for the wamv-->
    <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/usv_wind_plugin.xacro"/>
    <xacro:usv_wind_gazebo direction = "270" ros_update_rate="10">
      <wind_objs>
        <wind_obj>
          <name>wamv</name>
          <link_name>base_link</link_name>
          <coeff_vector>.5 .5 .33</coeff_vector>
        </wind_obj>
      </wind_objs>
    </xacro:usv_wind_gazebo>


    <!-- The VRX navigation course -->
    <include>
      <uri>model://navigation_course</uri>
      <pose>130 100 0 0 0 0</pose>
    </include>

    <!-- The scoring plugin -->
    <plugin name="navigation_scoring_plugin"
            filename="libnavigation_scoring_plugin.so">
      <vehicle>wamv</vehicle>
      <task_name>navigation_course</task_name>
      <initial_state_duration>10</initial_state_duration>
      <ready_state_duration>10</ready_state_duration>
      <running_state_duration>300</running_state_duration>
      <collision_buffer>10</collision_buffer>
      <release_joints>
        <joint>
          <name>wamv_external_pivot_joint</name>
        </joint>
        <joint>
          <name>wamv_external_riser</name>
        </joint>
      </release_joints>
      <course_name>vrx_navigation_course</course_name>
      <obstacle_penalty>10.0</obstacle_penalty>
      <gates>
        <gate>
          <left_marker>red_bound_0</left_marker>
          <right_marker>green_bound_0</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_1</left_marker>
          <right_marker>green_bound_1</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_2</left_marker>
          <right_marker>green_bound_2</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_3</left_marker>
          <right_marker>green_bound_3</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_4</left_marker>
          <right_marker>green_bound_4</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_5</left_marker>
          <right_marker>green_bound_5</right_marker>
        </gate>
        <gate>
          <left_marker>red_bound_6</left_marker>
          <right_marker>green_bound_6</right_marker>
        </gate>
      </gates>

    </plugin>

  </world>
</sdf>
