<?xml version="1.0"?>
<model>
  <name>symbol_cross</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <description>
    A cross symbol used in some elements of the RobotX competition.
  </description>
</model>
