<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="insert_model" params="uri:=dock_2018 x:=60 y:=-2.75 z:=0 R:=0 P:=0 Y:=0">
    <!-- The 2018 dock with the two placards -->
    <include>
      <uri>model://${uri}</uri>
      <pose>${x} ${y} ${z} ${R} ${P} ${Y}</pose>
    </include>
  </xacro:macro>
</world>
  
  
