<?xml version="1.0"?>
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="nav_challenge" params="name='nav_challenge' uri:=navigation_course x:=58 y:=68 z:=2 R:=0 P:=0 Y:=0.4 running_duration:=300 **gates">
    <!-- The VRX navigation course -->
    <include>
      <name>${name}</name>
      <uri>model://${uri}</uri>
      <pose>${x} ${y} ${z} ${R} ${P} ${Y}</pose>
    </include>

    <!-- The scoring plugin -->
    <plugin name="navigation_scoring_plugin"
            filename="libnavigation_scoring_plugin.so">
      <vehicle>wamv</vehicle>
      <task_name>navigation_course</task_name>
      <initial_state_duration>10</initial_state_duration>
      <ready_state_duration>10</ready_state_duration>
      <running_state_duration>${running_duration}</running_state_duration>
      <collision_buffer>10</collision_buffer>
      <release_joints>
        <joint>
          <name>wamv_external_pivot_joint</name>
        </joint>
        <joint>
          <name>wamv_external_riser</name>
        </joint>
      </release_joints>
      <course_name>${name}</course_name>
      <obstacle_penalty>10.0</obstacle_penalty>
      <gates>
        <xacro:insert_block name="gates"/>
      </gates>
    </plugin>

  </xacro:macro>
</world>
