<?xml version="1.0"?>
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="stationkeeping" params="**wp_markers lat:=21.31091 lon:=-157.88868 heading:=0.0 namespace:=wamv competition:=vrx">
    <plugin name="stationkeeping_scoring_plugin"
          filename="libstationkeeping_scoring_plugin.so">
      <vehicle>${namespace}</vehicle>
      <task_name>stationkeeping</task_name>

      <rms_error_topic>/${competition}/station_keeping/rms_error</rms_error_topic>
      <pose_error_topic>/${competition}/station_keeping/pose_error</pose_error_topic>
      <goal_topic>/${competition}/station_keeping/goal</goal_topic>
      <task_info_topic>/${competition}/task/info</task_info_topic>
      <contact_debug_topic>/${competition}/debug/contact</contact_debug_topic>

      <per_plugin_exit_on_completion>true</per_plugin_exit_on_completion>

      <!-- Goal as Latitude, Longitude, Yaw -->
      <goal_pose>${lat} ${lon} ${heading}</goal_pose>
      <initial_state_duration>10</initial_state_duration>
      <ready_state_duration>10</ready_state_duration>
      <running_state_duration>300</running_state_duration>
      <release_joints>
        <joint>
          <name>${namespace}_external_pivot_joint</name>
        </joint>
        <joint>
          <name>${namespace}_external_riser</name>
        </joint>
      </release_joints>
      <xacro:insert_block name="wp_markers" />
    </plugin>
  </xacro:macro>
</world>
