<?xml version="1.0" ?>
<model>
    <name>vi_camera</name>
    <version>1.0</version>
    <sdf version="1.6">vi_camera.sdf</sdf>
    <author>
        <name>
        XTDrone (who assemble the imu, stereo camera. and depth camera together)
        Intel Corporation (who provide the visual model)
        </name>
    </author>
    <description>vi_camera with an Intel realsense visual model</description>
</model>
