# Simulation settings for using moveit_sim_controllers
moveit_sim_hw_interface:
  joint_model_group: iris
  joint_model_group_pose: pose0
# Settings for ros_control_boilerplate control loop
generic_hw_control_loop:
  loop_hz: 300
  cycle_time_error_threshold: 0.01
# Settings for ros_control hardware interface
hardware_interface:
  joints:
    - /imu_joint
    - joint1
    - joint2
    - joint3
    - joint4
    - joint5
    - joint6
    - finger_joint1
    - rotor_0_joint
    - rotor_1_joint
    - rotor_2_joint
    - rotor_3_joint
  sim_control_mode: 1  # 0: position, 1: velocity
# Publish all joint states
# Creates the /joint_states topic necessary in ROS
joint_state_controller:
  type: joint_state_controller/JointStateController
  publish_rate: 50
controller_list:
  []