<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-batteries">
  <xacro:macro name="battery" params="prefix position:='0 0 0' orientation:='0 0 0'">
    <link name="${prefix}_battery_link">
      <visual name="${prefix}_battery_visual">
        <origin xyz="0 -1.03 -.45" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://vrx_gazebo/models/battery/mesh/battery.dae"/>
        </geometry>
      </visual>
      <collision name="${prefix}_battery_collision">
        <origin xyz="0 0 .15" rpy="0 0 0"/>
        <geometry>
          <box size=".6 .4 .31"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 .15" rpy=" 0 0 0"/>
        <mass value="23.5"/>
        <inertia
          ixx="0.5015291666666667"
          iyy="0.8931958333333333"
          izz="1.0183333333333333"
          ixy="0"
          ixz="0"
          iyz="0"/>
      </inertial>
    </link>
    <joint name ="${prefix}_chasis_battery_joint" type="fixed">
      <origin xyz="${position}" rpy="${orientation}"/>
      <parent link="base_link"/>
      <child link="${prefix}_battery_link"/>
    </joint>
  </xacro:macro>
</robot>
