<?xml version="1.0"?>
<model>
  <name>Iris for zhihangcup competition</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_zhihang.sdf</sdf>

  <author>
   <name>Robin Shaun</name>
   <email>robin_shaun@foxmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor for Zhihangcup competition.
  </description>
</model>
