<?xml version="1.0"?>
<model>
  <name>Casual Female</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Rohit Salem</name>
    <email>rohitsalem@gmail.com</email>
  </author>

  <description>
    A standing person-Casual Female. Model created with Makehuman (http://www.makehuman.org/)
  </description>
</model>
