<?xml version="1.0"?>
<model>
  <name>polyform_a7</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kevin Allen</name>
    <email>kallen@osrfoundation.org</email>
  </author>
  <description>
    Simplified model of the A-7 black buoy by Polyform US
  </description>
</model>
