<?xml version="1.0" ?>
<!-- World containing buoyancy test models -->
<sdf version="1.6" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="basic_shape" params="name static *pose *shape *inertial">
    <model name="${name}">
      <xacro:insert_block name="pose" />
      <static>${static}</static>
      <link name="link">
        <visual name="visual">
          <geometry>
            <xacro:insert_block name="shape" />
          </geometry>
        </visual>
        <collision name="collision">
          <geometry>
            <xacro:insert_block name="shape" />
          </geometry>
        </collision>
        <xacro:insert_block name="inertial" />
      </link>
      <plugin name="BuoyancyPlugin" filename="libbuoyancy_gazebo_plugin.so">
        <fluid_density>1000</fluid_density>
        <fluid_level>0.0</fluid_level>
        <linear_drag>10.0</linear_drag>
        <angular_drag>4.0</angular_drag>
        <buoyancy name="buoyancy">
          <link_name>link</link_name>
          <geometry>
            <xacro:insert_block name="shape" />
          </geometry>
        </buoyancy>
      </plugin>
    </model>
  </xacro:macro>

  <!-- calculates inertial components of a box with mass and dimensions (x, y, z) -->
  <xacro:macro name="box_inertial" params="mass x y z">
    <inertial>
      <mass>${mass}</mass>
      <inertia>
        <ixx>${0.083 * mass * (y*y+z*z)}</ixx>
        <ixy>0</ixy>
        <ixz>0</ixz>
        <iyy>${0.083 * mass * (x*x+z*z)}</iyy>
        <iyz>0</iyz>
        <izz>${0.083 * mass * (x*x+y*y)}</izz>
      </inertia>
    </inertial>
  </xacro:macro>

  <xacro:macro name="sphere_inertial" params="mass r">
    <inertial>
      <mass>${mass}</mass>
      <inertia>
        <ixx>${0.4 * mass * r * r}</ixx>
        <ixy>0</ixy>
        <ixz>0</ixz>
        <iyy>${0.4 * mass * r * r}</iyy>
        <iyz>0</iyz>
        <izz>${0.4 * mass * r * r}</izz>
      </inertia>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertial" params="mass r l">
    <inertial>
      <mass>${mass}</mass>
      <inertia>
        <ixx>${0.0833333 * mass * (3 * r * r + l * l)}</ixx>
        <ixy>0</ixy>
        <ixz>0</ixz>
        <iyy>${0.0833333 * mass * (3 * r * r + l * l)}</iyy>
        <iyz>0</iyz>
        <izz>${0.5 * mass * r * r}</izz>
      </inertia>
    </inertial>
  </xacro:macro>

  <world name='buoyancy_test'>
    <scene>
      <grid>false</grid>
      <origin_visual>false</origin_visual>
      <ambient>0.6 0.6 0.6 1</ambient>
      <background>0.8 0.8 0.8 1</background>
    </scene>

    <!-- A global light source -->
    <include>
      <uri>model://sun</uri>
    </include>

    <gui fullscreen='0'>
      <camera name='user_camera'>
        <pose frame=''>4.84693 -4.51466 1.77033 0 0.275643 2.35619</pose>
        <view_controller>orbit</view_controller>
      </camera>
    </gui>

    <!-- water level for visual reference at z = 0-->
    <model name="plane">
      <static>true</static>
      <pose>0.8 0.8 0 0 0 0</pose>
      <link name="link">
        <visual name="visual">
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <size>2 2</size>
            </plane>
          </geometry>
          <material>
            <ambient>0.0 0.0 0.6 1</ambient>
          </material>
        </visual>
      </link>
    </model>

    <!-- test_1: basic shape drop test | no rotation -->
    <!-- density ~ 400 kg/m^3 (wood) | mass = 2kg | volume = 0.005m^3-->
    <xacro:basic_shape name="1_box" static="false">
      <pose>0.1 0 0.5 0 0 0</pose>
      <box>
        <size>0.171 0.171 0.171</size>
      </box>
      <xacro:box_inertial mass="2" x="0.171" y="0.171" z="0.171"/>
    </xacro:basic_shape>

    <xacro:basic_shape name="1_sphere" static="false">
      <pose>0.4 0 0.5 0 0 0</pose>
      <sphere>
        <radius>0.106</radius>
      </sphere>
      <xacro:sphere_inertial mass="2" r="0.106"/>
    </xacro:basic_shape>

    <xacro:basic_shape name="1_cylinder" static="false">
      <pose>0.7 0 0.5 0 0 0</pose>
      <cylinder>
        <radius>0.1</radius>
        <length>0.159</length>
      </cylinder>
      <xacro:cylinder_inertial mass="2" r="0.1" l="0.159" />
    </xacro:basic_shape>

    <!-- test_2: basic shape drop test | rotation -->
    <xacro:basic_shape name="2_box" static="false">
      <pose>0.1 0.5 0.5 1.0 0 0</pose>
      <box>
        <size>0.171 0.171 0.171</size>
      </box>
      <xacro:box_inertial mass="2" x="0.171" y="0.171" z="0.171"/>
    </xacro:basic_shape>

    <xacro:basic_shape name="2_sphere" static="false">
      <pose>0.4 0.5 0.5 1.0 0 0</pose>
      <sphere>
        <radius>0.106</radius>
      </sphere>
      <xacro:sphere_inertial mass="2" r="0.106"/>
    </xacro:basic_shape>

    <xacro:basic_shape name="2_cylinder" static="false">
      <pose>0.7 0.5 0.5 1.0 0 0</pose>
      <cylinder>
        <radius>0.1</radius>
        <length>0.159</length>
      </cylinder>
      <xacro:cylinder_inertial mass="2" r="0.1" l="0.159" />
    </xacro:basic_shape>

    <!-- test_3: basic shape float test | rotation -->
    <xacro:basic_shape name="3_box" static="false">
      <pose>0.1 1.0 -0.5 1.0 0 0</pose>
      <box>
        <size>0.171 0.171 0.171</size>
      </box>
      <xacro:box_inertial mass="2" x="0.171" y="0.171" z="0.171"/>
    </xacro:basic_shape>

    <xacro:basic_shape name="3_sphere" static="false">
      <pose>0.4 1.0 -0.5 1.0 0 0</pose>
      <sphere>
        <radius>0.106</radius>
      </sphere>
      <xacro:sphere_inertial mass="2" r="0.106"/>
    </xacro:basic_shape>

    <xacro:basic_shape name="3_cylinder" static="false">
      <pose>0.7 1.0 -0.5 1.0 0 0</pose>
      <cylinder>
        <radius>0.1</radius>
        <length>0.159</length>
      </cylinder>
      <xacro:cylinder_inertial mass="2" r="0.1" l="0.159" />
    </xacro:basic_shape>

    <!-- test_4: complex object -->
    <model name="4_complex">
      <pose>0.1 1.5 0.5 0 0 0</pose>

      <link name="link_cylinder">
        <visual name="visual">
          <geometry>
            <cylinder>
              <radius>0.1</radius>
              <length>0.3</length>
            </cylinder>
          </geometry>
        </visual>
        <collision name="collision">
          <geometry>
            <cylinder>
              <radius>0.1</radius>
              <length>0.3</length>
            </cylinder>
          </geometry>
        </collision>
        <xacro:cylinder_inertial mass="5" r="0.1" l="0.3" />
      </link>
      <link name="link_box">
        <pose>0 0.2 0.15 0 0 0</pose>
        <visual name="visual">
          <geometry>
            <box>
              <size>0.171 0.3 0.171</size>
            </box>
          </geometry>
        </visual>
        <collision name="collision">
          <geometry>
            <box>
              <size>0.171 0.3 0.171</size>
            </box>
          </geometry>
        </collision>
        <xacro:box_inertial mass="10" x="0.171" y="0.3" z="0.171"/>
      </link>

      <joint name="joint" type="fixed">
        <parent>link_box</parent>
        <child>link_cylinder</child>
      </joint>

      <plugin name="BuoyancyPlugin" filename="libbuoyancy_gazebo_plugin.so">
        <fluid_density>1000</fluid_density>
        <fluid_level>0.0</fluid_level>
        <linear_drag>5.0</linear_drag>
        <angular_drag>2.0</angular_drag>
        <buoyancy name="buoyancy_cylinder">
          <link_name>link_cylinder</link_name>
          <geometry>
            <cylinder>
              <radius>0.1</radius>
              <length>0.3</length>
            </cylinder>
          </geometry>
        </buoyancy>
        <buoyancy name="buoyancy_box">
          <link_name>link_box</link_name>
          <geometry>
            <box>
              <size>0.171 0.3 0.171</size>
            </box>
          </geometry>
        </buoyancy>
      </plugin>
    </model>

  </world>
</sdf>