<?xml version="1.0"?>
<model>
  <name>robotx_2016_qualifying_pinger_transit</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kevin Allen</name>
    <email>kallen@osrfoundation.org</email>
  </author>
  <description>
    The RobotX Acoustic Pinger-Based Transit Task
    used for the 2016 RobotX qualifying rounds.
    Currently does not simulate the acoustic pinger.
  </description>
</model>
