<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-cpu_cases">
<xacro:macro name="cpu_cases" params="position:='0 0 0' orientation:='0 0 0'">
  <link name="cpu_cases_link">
    <visual name="cpu_cases_visual">
      <origin xyz="0.073 0 -1.53" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://vrx_gazebo/models/cpu_cases/mesh/cpu_cases.dae"/>
      </geometry>
    </visual>
    <collision name="cpu_case_1_collision">
      <origin xyz="0.185 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.595 0.83 0.47"/>
      </geometry>
    </collision>
    <collision name="cpu_case_2_collision">
      <origin xyz="-0.3 0 -0.092" rpy="0 0 0"/>
      <geometry>
        <box size="0.375 0.64 0.28"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="20"/>
      <inertia
        ixx="1.51633333333333"
        iyy="1.93633333333333"
        izz="2.71633333333333"
        ixy="0"
        ixz="0"
        iyz="0"/>
    </inertial>
  </link>
  <joint name ="chasis_cpu_cases_joint" type="fixed">
    <origin xyz="${position}" rpy="${orientation}"/>
    <parent link="base_link"/>
    <child link="cpu_cases_link"/>
  </joint>
</xacro:macro>
</robot>

