<?xml version="1.0" encoding="UTF-8"?>
<launch>


    <param name="enable_statistics" value="true" />
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="obstaclestopper" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <!--<arg name="world_name" value="$(find catvehicle)/worlds/canyonview_field.world"/> -->
	    <arg name="world_name" value="$(find catvehicle)/worlds/city.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

</launch>
