<?xml version="1.0" ?>
<!-- World containing sandisland model and some course challenges -->
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="scan_and_dock">
    <!-- The light buoy -->$
    <include>
      <uri>model://robotx_light_buoy</uri>
      <pose>90 70 0.25 0 0 0</pose>
    </include>
    <!-- The 2018 dock with the two placards -->
    <include>
      <uri>model://dock_2018</uri>
      <pose>60 -2.75 0 0 0 0</pose>
    </include>
 
    <!-- The scoring plugin -->
    <plugin name="scan_dock_scoring_plugin"
            filename="libscan_dock_scoring_plugin.so">
      <!-- Parameters for scoring_plugin -->
      <vehicle>wamv</vehicle>
      <task_name>scan_dock</task_name>
      <initial_state_duration>10</initial_state_duration>
      <ready_state_duration>10</ready_state_duration>
      <running_state_duration>300</running_state_duration>
      <release_joints>
        <joint>
          <name>wamv_external_pivot_joint</name>
        </joint>
        <joint>
          <name>wamv_external_riser</name>
        </joint>
      </release_joints>

      <!-- Color sequence checker -->
      <robot_namespace>vrx</robot_namespace>
      <color_sequence_service>scan_dock/color_sequence</color_sequence_service>
      <color_1>red</color_1>
      <color_2>green</color_2>
      <color_3>blue</color_3>

      <!-- Dock checkers -->
      <bays>
        <bay>
          <name>bay1</name>
          <internal_activation_topic>/vrx/dock_2018/bay_1/contain</internal_activation_topic>
          <external_activation_topic>/vrx/dock_2018/bay_1_exterior/contain</external_activation_topic>
          <symbol_topic>/vrx/dock_2018_placard1/symbol</symbol_topic>
          <min_dock_time>10.0</min_dock_time>
          <dock_allowed>false</dock_allowed>
          <symbol>red_circle</symbol>
        </bay>

        <bay>
          <name>bay2</name>
          <internal_activation_topic>/vrx/dock_2018/bay_2/contain</internal_activation_topic>
          <external_activation_topic>/vrx/dock_2018/bay_2_exterior/contain</external_activation_topic>
          <symbol_topic>/vrx/dock_2018_placard2/symbol</symbol_topic>
          <min_dock_time>10.0</min_dock_time>
          <dock_allowed>true</dock_allowed>
          <symbol>red_cross</symbol>
        </bay>
      </bays>
    </plugin>
  </xacro:macro>
</world>
