<?xml version="1.0"?>
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="usv_wind_gazebo"
               params="**wind_objs
                         direction:=270
                         mean_vel:=0
                         var_gain:=0
                         var_time:=1
                         seed:=''
                         ros_update_rate:=10
                         topic_wind_speed:=/vrx/debug/wind/speed
                         topic_wind_direction:=/vrx/debug/wind/direction
                         " >
    <!--Gazebo Plugin for simulating WAM-V dynamics-->
    <plugin name="wind" filename="libusv_gazebo_wind_plugin.so">
      <!-- models to be effected by the wind -->
      <xacro:insert_block name="wind_objs"/>
      <!-- Wind -->
      <wind_direction>${direction}</wind_direction> <!-- in degrees -->
      <wind_mean_velocity>${mean_vel}</wind_mean_velocity>
      <var_wind_gain_constants>${var_gain}</var_wind_gain_constants>
      <var_wind_time_constants>${var_time}</var_wind_time_constants>
      <random_seed>${seed}</random_seed> <!-- set to zero/empty to randomize -->
      <update_rate>${ros_update_rate}</update_rate>
      <topic_wind_speed>${topic_wind_speed}</topic_wind_speed>
      <topic_wind_direction>${topic_wind_direction}</topic_wind_direction>
    </plugin>
  </xacro:macro>
</world>
