<?xml version="1.0"?>
<launch>
    <!-- launches Gazebo environment and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/outdoor1.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

<group ns="iris_stereo_camera_0">
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="0"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_1">
    <!-- vehicle pose -->
    <arg name="x" default="3"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="1"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_2">
    <!-- vehicle pose -->
    <arg name="x" default="6"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="2"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_3">
    <!-- vehicle pose -->
    <arg name="x" default="9"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="3"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_4">
    <!-- vehicle pose -->
    <arg name="x" default="12"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="4"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_5">
    <!-- vehicle pose -->
    <arg name="x" default="15"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="5"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_6">
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="6"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="6"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_7">
    <!-- vehicle pose -->
    <arg name="x" default="3"/>
    <arg name="y" default="6"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="7"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_8">
    <!-- vehicle pose -->
    <arg name="x" default="6"/>
    <arg name="y" default="6"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="8"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_9">
    <!-- vehicle pose -->
    <arg name="x" default="9"/>
    <arg name="y" default="6"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="9"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_10">
    <!-- vehicle pose -->
    <arg name="x" default="12"/>
    <arg name="y" default="6"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="10"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_11">
    <!-- vehicle pose -->
    <arg name="x" default="15"/>
    <arg name="y" default="6"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="11"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_12">
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="9"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="12"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_13">
    <!-- vehicle pose -->
    <arg name="x" default="3"/>
    <arg name="y" default="9"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="13"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_14">
    <!-- vehicle pose -->
    <arg name="x" default="6"/>
    <arg name="y" default="9"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="14"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_15">
    <!-- vehicle pose -->
    <arg name="x" default="9"/>
    <arg name="y" default="9"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="15"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_16">
    <!-- vehicle pose -->
    <arg name="x" default="12"/>
    <arg name="y" default="9"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="16"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_17">
    <!-- vehicle pose -->
    <arg name="x" default="15"/>
    <arg name="y" default="9"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="17"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_18">
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="12"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="18"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_19">
    <!-- vehicle pose -->
    <arg name="x" default="3"/>
    <arg name="y" default="12"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="19"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_20">
    <!-- vehicle pose -->
    <arg name="x" default="6"/>
    <arg name="y" default="12"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="20"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_21">
    <!-- vehicle pose -->
    <arg name="x" default="9"/>
    <arg name="y" default="12"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="21"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_22">
    <!-- vehicle pose -->
    <arg name="x" default="12"/>
    <arg name="y" default="12"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="22"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_23">
    <!-- vehicle pose -->
    <arg name="x" default="15"/>
    <arg name="y" default="12"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="23"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_24">
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="15"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="24"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_25">
    <!-- vehicle pose -->
    <arg name="x" default="3"/>
    <arg name="y" default="15"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="25"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_26">
    <!-- vehicle pose -->
    <arg name="x" default="6"/>
    <arg name="y" default="15"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="26"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_27">
    <!-- vehicle pose -->
    <arg name="x" default="9"/>
    <arg name="y" default="15"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="27"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_28">
    <!-- vehicle pose -->
    <arg name="x" default="12"/>
    <arg name="y" default="15"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="28"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_29">
    <!-- vehicle pose -->
    <arg name="x" default="15"/>
    <arg name="y" default="15"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="29"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_30">
    <!-- vehicle pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="18"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="30"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_31">
    <!-- vehicle pose -->
    <arg name="x" default="3"/>
    <arg name="y" default="18"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="31"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_32">
    <!-- vehicle pose -->
    <arg name="x" default="6"/>
    <arg name="y" default="18"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="32"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_33">
    <!-- vehicle pose -->
    <arg name="x" default="9"/>
    <arg name="y" default="18"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="33"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_34">
    <!-- vehicle pose -->
    <arg name="x" default="12"/>
    <arg name="y" default="18"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="34"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>

<group ns="iris_stereo_camera_35">
    <!-- vehicle pose -->
    <arg name="x" default="15"/>
    <arg name="y" default="18"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris_stereo_camera"/>
    <arg name="ID" default="35"/>
    <!-- generate sdf vehicle model -->
    <arg name="model_description" default="$(find px4)/Tools/sitl_gazebo/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <!-- spawn vehicle -->
    <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-sdf -file $(arg model_description) -model $(arg vehicle)_$(arg ID) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
</group>
</launch>
<!--the launch file is generated by XTDrone multi-vehicle generator.py  -->