<?xml version="1.0"?>
<plugin xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro  name="wamv_gazebo_thruster_config" params="name enable_angle:=true">
    <thruster>
      <!-- Required Parameters -->
      <linkName>${name}_propeller_link</linkName>
      <propJointName>${name}_engine_propeller_joint</propJointName>
      <engineJointName>${name}_chasis_engine_joint</engineJointName>
      <cmdTopic>${thruster_namespace}${name}_thrust_cmd</cmdTopic>
      <angleTopic>${thruster_namespace}${name}_thrust_angle</angleTopic>
      <enableAngle>${enable_angle}</enableAngle>

      <!-- Optional Parameters -->
      <mappingType>1</mappingType>
      <maxCmd>1.0</maxCmd>
      <maxForceFwd>250.0</maxForceFwd>
      <maxForceRev>-100.0</maxForceRev>
      <maxAngle>${pi/2}</maxAngle>
    </thruster>
  </xacro:macro>
</plugin>
