<?xml version="1.0"?>
<!-- BOTTOM FIXED LINK 
This link is the base of the arm in which arm is placed 
-->
<robot name="camera" xmlns:xacro="http://ros.org/wiki/xacro">

   <joint name="camera_joint" type="fixed">
        <origin xyz="0.05 0 -0.07" rpy="0 1.57 0"/>
        <parent link="base_link"/>
        <child link="camera_link"/>
   </joint>
  
   <!-- Camera -->
   <link name="camera_link">
       <collision>
           <origin xyz="0 0 0" rpy="0 0 0"/>
           <geometry>
            <mesh filename="package://le_arm/meshes/sensors/camera.STL" scale="0.1 0.1 0.1" />
           </geometry>
       </collision> 

       <visual>
           <origin xyz="0 0 0" rpy="-3.14 0 -1.57"/>
           <geometry>
           <mesh filename="package://le_arm/meshes/sensors/camera.STL" />
           </geometry>
           <material name="red"/>
       </visual>

       <inertial>
        <mass value="0.00001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0"
          iyy="0.00001" iyz="0.0"
          izz="0.00001" />
       </inertial>
   </link>

   <xacro:include filename="$(find le_arm)/urdf/sensors/camera.gazebo.xacro"/>
</robot>
