<?xml version="1.0"?>
<model>
  <name>Bumper Sensor</name>
  <version>1.0</version>
  <sdf version='1.4'>bumper_sensor_typhoon.sdf</sdf>

  <author>
   <name>Nico van Duijn</name>
   <email>nico@auterion.com</email>
  </author>

  <description>
    This is a model of a simple bumper sensor.
    It uses the gazebo-ros plugin to publish collisions on a ROS topic
  </description>
</model>
