# Template for world plugins configuration:
# Parameters read by GazeboPluginLoader. Contains
# names and library files of Gazebo World Plugins to be
# loaded.

# name of world to load the plugins on. 'default' or 
# empty string should yield the default world.
world_name: "default"

# names and filenames of plugins to load
world_plugins:
    #- name: <name-of-plugin> 
    #  file: lib<libname>.so
