<?xml version="1.0"?>

<model>
  <name>Sonoma Raceway</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@osrfoundation.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
  </author>

  <description>
    A model of the Sonoma Raceway
  </description>
</model>
