<?xml version="1.0"?>
<model>
  <name>Iris with downward camera </name>
  <version>1.0</version>
  <sdf version='1.5'>iris_downward_camera.sdf</sdf>

  <author>
   <name>Guanzheng Wang</name>
   <email>gaunzhengcn@foxmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a downward camera.
  </description>
</model>
