<?xml version="1.0"?>
<model>
  <name>robotx_dock_2016_base</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <description>
    The dock base used in RobotX 2016.
  </description>
</model>
