<?xml version="1.0" ?>
<model>
    <name>monocular_camera</name>
    <version>1.0</version>
    <sdf version="1.0">monocular_camera.sdf</sdf>
    <author>
        <name>Guanzheng Wang</name>
        <email>guanzhengcn@foxmail.com</email>
    </author>
    <description>
    	A modified monocular camera.
    </description>
</model>
