<?xml version="1.0"?>
<model>
  <name>green_totem</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Agüero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <description>
    A floating buoy (Sur-Mark 46104) with a green cover.
  </description>
</model>

