<?xml version="1.0"?>

<model>
  <name>surmark950400</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Brian Bingham</name>
    <email>briansbingham@gmail.com</email>
  </author>

  <description>
    A floating buoy (950400 Sur-Mark) that uses the buoyancy plugin.
  </description>
</model>
