<?xml version="1.0"?>
<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>
  <arg name="world" default="$(find wave_gazebo)/worlds/ocean_wamv.world" />
 <!-- Initial USV location and attitude-->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.1" />
  <arg name="P" default="0" />
  <arg name="R" default="0" />
  <arg name="Y" default="0" />

  <!-- Allow user specified thruster configurations
       H = stern trusters on each hull
       T = H with a lateral thruster
       X = "holonomic" configuration -->
  <arg name="thrust_config" default="H" />

  <!-- Do you want to enable sensors? -->
  <arg name="camera_enabled"       default="true" />
  <arg name="gps_enabled"          default="true" />
  <arg name="imu_enabled"          default="true" />
  <arg name="lidar_enabled"        default="true" />
  <arg name="ground_truth_enabled" default="true" />

  <!-- Start Gazebo with the world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(arg world)"/>
    <arg name="verbose"      value="$(arg verbose)"/>
    <arg name="paused"       value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)" />
  </include>

 <!-- Load robot model -->
  <arg name="urdf" default="$(find wamv_gazebo)/urdf/wamv_gazebo.urdf.xacro"/>
  <param name="wamv0/robot_description"
         command="$(find xacro)/xacro &#x002D;&#x002D;inorder '$(arg urdf)'
         thruster_config:=$(arg thrust_config)
         camera_enabled:=$(arg camera_enabled)
         gps_enabled:=$(arg gps_enabled)
         imu_enabled:=$(arg imu_enabled)
         lidar_enabled:=$(arg lidar_enabled)
         ground_truth_enabled:=$(arg ground_truth_enabled)
         namespace:=wamv0 "/>

  <param name="wamv1/robot_description"
         command="$(find xacro)/xacro &#x002D;&#x002D;inorder '$(arg urdf)'
         thruster_config:=$(arg thrust_config)
         camera_enabled:=$(arg camera_enabled)
         gps_enabled:=$(arg gps_enabled)
         imu_enabled:=$(arg imu_enabled)
         lidar_enabled:=$(arg lidar_enabled)
         ground_truth_enabled:=$(arg ground_truth_enabled)
         namespace:=wamv1 "/>

  <!-- Spawn WAMV model in Gazebo -->
  <node name="spawn_model_wamv0" pkg="gazebo_ros" type="spawn_model"
  args="-x $(arg x) -y $(arg y) -z $(arg z)
        -R $(arg R) -P $(arg P) -Y $(arg Y)
        -urdf -param wamv0/robot_description -model wamv0"/>

  <!-- Spawn WAMV model in Gazebo -->
  <node name="spawn_model_wamv1" pkg="gazebo_ros" type="spawn_model"
  args="-x $(arg x) -y 6 -z $(arg z)
        -R $(arg R) -P $(arg P) -Y 1.57
        -urdf -param wamv1/robot_description -model wamv1"/>

  <!-- Spawn a wave gauge
  <arg name="sdf_file" default="$(find vrx_gazebo/models/wavegauge/model.sdf"/>
  <arg name="args" value="-x 0 -y 0 -z 0 -sdf -file $(arg sdf_file) -model wave_gauge"/>
  <node name="spawn_model_wg" pkg="gazebo_ros" type="spawn_model"
        args="$(arg args)"/>-->

  <node name="rqt_cameras" pkg="rqt_gui" type="rqt_gui" output="screen"
        args="--perspective-file $(find wave_gazebo)/config/wamv_wave.perspective"/>

</launch>
