<?xml version="1.0"?>
<model>
  <name>vrx_navigation_course_5</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>
  <description>
    A VRX Navigation Course.
  </description>
</model>
