<?xml version="1.0"?>
<launch>
  <node name="set_pinger_position" pkg="vrx_gazebo" type="set_pinger_position.py" output="screen">
    <rosparam command="load" file="$(find vrx_gazebo)/config/pinger.yaml" />
  </node>
  <node name="pinger_visualisation" pkg="vrx_gazebo" type="pinger_visualisation.py" />
</launch>